<!--#layout("/common/layout.html",{"jsBase":"/js/author/authorinfo/"}){ -->
<layui:searchForm formId="searchForm"  condition="${search}">
</layui:searchForm>

<div class="layui-btn-group">
    <layui:accessButton function="authorinfo.add"  action="add">增加</layui:accessButton>
    <layui:accessButton function="authorinfo.edit"  action="edit">编辑</layui:accessButton>
    <layui:accessButton function="authorinfo.del"  action="del">删除</layui:accessButton>
</div>

<table id="authorinfoTable" lay-filter="authorinfoTable"></table>
<!--#} -->
<script>

layui.use(['index'], function(){
    var index = layui.index
    index.init();
});

</script>
