<!--# layout("/common/layout.html",{"jsBase":"/js/media/media/"}){ -->

<form class="layui-form layui-form-pane" id="addForm">
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">mediainfoid</label>
				<div class="layui-input-inline">
					<input type="text" name="mediainfoid" class="layui-input" >
				</div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">专辑名</label>
				<div class="layui-input-inline">
					<input type="text" name="medianame" class="layui-input" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">专辑类型</label>
				<div class="layui-input-inline">
					<input type="text" name="mediatype" class="layui-input" >
				</div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">sourceunit</label>
				<div class="layui-input-inline">
					<input type="text" name="sourceunit" class="layui-input" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">makingunit</label>
				<div class="layui-input-inline">
					<input type="text" name="makingunit" class="layui-input" >
				</div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">authunit</label>
				<div class="layui-input-inline">
					<input type="text" name="authunit" class="layui-input" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">authstate</label>
				<div class="layui-input-inline">
					<input type="text" name="authstate" class="layui-input" >
				</div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">mediastate</label>
				<div class="layui-input-inline">
					<input type="text" name="mediastate" class="layui-input" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">icon</label>
				<div class="layui-input-inline">
					<input type="text" name="icon" class="layui-input" >
				</div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">imageurl</label>
				<div class="layui-input-inline">
					<input type="text" name="imageurl" class="layui-input" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">note</label>
				<div class="layui-input-inline">
					<input type="text" name="note" class="layui-input" >
				</div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">filecount</label>
				<div class="layui-input-inline">
					<input type="text" name="filecount" class="layui-input" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">filesize</label>
				<div class="layui-input-inline">
					<input type="text" name="filesize" class="layui-input" >
				</div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">duration</label>
				<div class="layui-input-inline">
					<input type="text" name="duration" class="layui-input" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">localvalid</label>
				<div class="layui-input-inline">
					<input type="text" name="localvalid" class="layui-input" >
				</div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">linkvalid</label>
				<div class="layui-input-inline">
					<input type="text" name="linkvalid" class="layui-input" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">createdate</label>
				<div class="layui-input-inline">
					<input type="text" name="createdate" class="layui-input input-date" >
				</div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">updatedate</label>
				<div class="layui-input-inline">
					<input type="text" name="updatedate" class="layui-input input-date" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">deletenote</label>
				<div class="layui-input-inline">
					<input type="text" name="deletenote" class="layui-input" >
				</div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">deletedate</label>
				<div class="layui-input-inline">
					<input type="text" name="deletedate" class="layui-input input-date" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">shortcode</label>
				<div class="layui-input-inline">
					<input type="text" name="shortcode" class="layui-input" >
				</div>
            </div>
        </div>
    </div>
    <layui:submitButtons id="addButton" />
</form>
<!--#} -->
<script>
layui.use(['add'], function(){
    var mediaAdd = layui.add
    mediaAdd.init();
});
</script>
